<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.ganz.eclipse.gdtk.core.ModuleCore">
      </startup>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.core.taskActivationListeners">
      <listener
            class="com.ganz.eclipse.gdtk.internal.listener.TaskActivationListener"
            id="com.ganz.eclipse.gdtk.internal.listener.taskactivation">
      </listener>
   </extension>

</plugin>
